<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>付款成功</title>

<script  src = "/js/jquery.js"></script>
<link rel="stylesheet" href="/js/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/js/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="/css/myCss/home.css">

<script src="/js/owl-carousel/owl.carousel.js"></script>
<script src="/js/myJs/cart.js"></script>
<script src="/js/myJs/home.js"></script>

<style type="text/css">
</style>

</head>

<script src="/js/jquery.js" type="text/javascript">
</script>

<script language="javascript">

$(document).ready( function(){
	
	function jump(count){
		window.setTimeout(function(){
			count -- ;
			if(count >0){
				$('#num').attr("innerHTML",count);
				jump(count);
			}else{
				location.href="/";
			}
		},1000);	
	}
	jump(3);
});

</script>

<body>  

	<div></div>
   	支付成功<br/>  
    3秒后自动跳转主页。当前还剩<span id="num">3</span>秒  
	
	<a href ="/">
        <p>点我直接跳转</p>
	</a>
	<!--填充用div-->
	<div class="holdPlace"></div>
	<!--底部导航条-->
	<table class="navBar">
	  <tr>
		<th><a href="/"><img src = "/images/icon/首页.png"></a><p>首 页</p></th>
	    <th><a href="/category"><img src = "/images/icon/全部菜单.png"></a><p>全部菜单</p></th>
		<th><img src = "/images/icon/我的菜-active.png"><p>我的菜</p></th>
	  </tr>
	</table>
	
</body>  



</html>