<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/js/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/js/owl-carousel/owl.theme.css">

    <script src="/js/wookmark/jquery.imagesloaded.js"></script>
    <script src="/js/owl-carousel/owl.carousel.js"></script>
    <script src="/js/wookmark/jquery.wookmark.js"></script>
    {% block extfile %}

    {% endblock %}
    <style type="text/css">

    </style>
</head>
<body>


{% block body %}
{% endblock %}


{% block footBar %}
{% endblock %}

</body>
</html>