{% extends "base.html" %}

{% block extfile %}
    <script src="/js/myJs/home.js"></script>
    <script src="/js/myJs/cart.js"></script>
    <link rel="stylesheet" href="/css/myCss/home.css">
{% endblock %}

{% block body %}

    <table class="headBar">
        <tr>
            <th>首页</th>
        </tr>
    </table>

    <div id="allWrapper">
    <div class="wrapper">

        <div id="owl-demo" class="owl-carouse1 owl-theme markCarousel">

            {% for special in special_list %}
                <div class="item "+{{ beChoiced }} foodid={{ special.id }}>
                    <img src={{ special.image_url }}>

                    <div class="description">
                        <div>
                            {{ special.name }}
                        </div>
                        <div>抢购价
                            <spcialPrice>￥ {{ special.price }} </spcialPrice>
                        </div>
                    </div>

                    <div class="addDish">
                        <button>{{ special.amount }}</button>
                        <button class="addButton">抢购</button>
                    </div>
                </div>
            {% endfor %}
        </div>


        <!--圆点导航条-->
        <div class='owl-theme' id="pointNavHolder"></div>
        <div class="demoMark">超低价抢购中</div>
    </div>

    <div class="wrapper">
    <!--第二排的旋转木马-->
    <div id="owl-recommend" class="markCarousel">
        {% for special in special_list %}
            <div class="item"+{{ beChoiced }} foodid={{ special.id }}>
                <img src={{ special.image_url }}>

                <div class="description">
                    <div>
                        {{ special.name }}
                    </div>
                    <div>抢购价
                        <spcialPrice>￥ {{ special.price }} </spcialPrice>
                    </div>
                </div>

                <div class="addDish">
                    <button>{{ special.amount }}</button>
                    <button class="addButton">抢购</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="discountInfo">
        <img src="/images/icon/realLogo.png">
        <div>
            <strong>近期优惠</strong><br/>

            <div>
                优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息
            </div>
        </div>
    </div>


{% endblock %}

{% block footBar %}

    <!--底部导航条-->
    <table class="navBar">
        <tr>
            <th><a href="/"><img src="/images/icon/首页-active.png"></a>

                <p>首 页</p></th>
            <th><a href="category"><img src="/images/icon/全部菜单.png"></a>

                <p>全部菜单</p></th>
            <th><a href="/myDish"><img src="/images/icon/我的菜.png"></a>

                <p>我的菜</p></th>
        </tr>
    </table>
{% endblock %}
