{% extends "base.html" %}

{% block main %}
<div id="allWrapper">
    <div class="wrapper">
        <!--单张的旋转木马-->
        <div id="owl-demo" class="owl-carouse1 owl-theme markCarousel">

        </div>

        <!--圆点导航条-->
        <div class='owl-theme' id="pointNavHolder"></div>
        <div class="demoMark">超低价抢购中</div>
    </div>

    <div class="wrapper">
        <!--第二排的旋转木马-->
        <div id="owl-recommend" class="markCarousel">
            ${bFavor}
        </div>

        <!--左右两个箭头-->
        <div id="leftArrowHolder">
            &lt;
        </div>
        <div id="rightArrowHolder">
            &gt;
        </div>
        <div class="recommendMark">优惠进行中</div>
    </div>

    <!--优惠信息-->
    <div id="discountInfo">
        <img src="images/icon/realLogo.png">

        <div>
            <strong>近期优惠</strong><br/>

            <div>
                优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息
            </div>
        </div>
    </div>
</div>

{% endblock %}