{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extfile %}
    <script src="/js/myJs/dish.js"></script>
    <script src="/js/myJs/cart.js"></script>
    <link rel="stylesheet" href="/css/myCss/dish.css">
{% endblock %}

{% block body %}

    <table class="headBar">
        <tr>
            <th>{{ title }}</th>
        </tr>
    </table>

    <div id="mainContent">
        <ul>
            {% for food_key, value in amount.items %}

                {% for  number , choiced in value.items %}

                    <li foodId='{{ food_key.id }}' class= {{ choiced }}>
                        <img src= {{ food_key.image_url }}>

                        <h3> {{ food_key.name }}</h3>
                        <button>{{ number }}</button>
                        <p>￥{{ food_key.price }}</p>
                    </li>

                {% endfor %}
            {% endfor %}

        </ul>
    </div>



{% endblock %}

{% block footBar %}
    <!--填充用div-->
    <div class="holdPlace"></div>
    <!--底部导航条-->
    <table class="navBar">
        <tr>
            <th><a href="/"><img src="/images/icon/首页.png"></a>

                <p>首 页</p></th>
            <th><a href="category"><img src="/images/icon/全部菜单-active.png"></a>

                <p>全部菜单</p></th>
            <th><a href="/myDish"><img src="/images/icon/我的菜.png"></a>

                <p>我的菜</p></th>
        </tr>
    </table>

{% endblock %}