{% extends "base.html" %}

{% block extfile %}
    <script src="/js/myJs/home.js"></script>
    <link rel="stylesheet" href="/css/myCss/home.css">
{% endblock %}

{% block body %}

    <table class="headBar">
        <tr>
            <th>首页</th>
        </tr>
    </table>

    <div id="allWrapper">
        <div class="wrapper">
            <div id="owl-demo" class="owl-carouse1 owl-theme markCarousel">

                {% for food_key, value in big_amount_dict.items %}
                    {% for number, choiced in value.items %}
                        <div id="food_item" class="item" foodId={{ food_key.id }}>
                            <img src={{ food_key.image_url }}>

                            <div class="description">
                                <div>
                                    {{ food_key.name }}
                                </div>
                                <div>抢购价
                                    <specialPrice>￥ {{ food_key.price }} </specialPrice>
                                </div>
                            </div>

                            <div class="addDish">
                                <button> {{ number }}</button>
                                <button class="addButton">抢购</button>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <!--圆点导航条-->
            <div class='owl-theme' id="pointNavHolder"></div>
            <div class="demoMark">超低价抢购中</div>
        </div>

        <div class="wrapper">
            <!--第二排的旋转木马-->
            <div id="owl-recommend" class="markCarousel">

                {% for food_key, value in amount_dict.items %}
                    {% for number, choiced in value.items %}

                        <div id="food_item" class="item"  foodId={{ food_key.id }}>
                            <img src={{ food_key.image_url }}>

                            <div>
                                <div>{{ food_key.name }}</div>
                                <div>抢购价<specialPrice>￥ {{ food_key.price }} </specialPrice></div>
                            </div>

                          <button>{{ number }}</button>
                        </div>

                    {% endfor %}

                {% endfor %}

            </div>

            <div id="discountInfo">
                <img src="/images/icon/realLogo.png">

                <div>
                    <strong>新店开业, 欢迎光临</strong><br/>

                    <div>
{#                        优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息优惠信息#}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footBar %}

    <!--底部导航条-->
    <table class="navBar">
        <tr>
            <th><img src="/images/icon/首页-active.png">
                <p>首 页</p></th>
            <th><a href="category"><img src="/images/icon/全部菜单.png"></a>

                <p>全部菜单</p></th>
            <th><a href="/myDish"><img src="/images/icon/我的菜.png"></a>

                <p>我的菜</p></th>
        </tr>
    </table>
{% endblock %}
