{% extends "base.html" %}


{% block extfile %}

    <link rel="stylesheet" href="/css/myCss/myDish.css">
    <link rel="stylesheet" href="/js/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/js/owl-carousel/owl.theme.css">
    <script src="/js/myJs/myDish.js"></script>
    <script src="/js/owl-carousel/owl.carousel.js"></script>
    <script src="/js/owl-carousel/owl.carousel.min.js"></script>
{% endblock %}


{% block body %}
    <div class="mask"></div>
    <table class="headBar">
        <tr>
            <th>{{ title }}</th>
        </tr>
    </table>


    <table class="headBar">
        <tr>
            <th>我的菜</th>
        </tr>
    </table>

    <div id="mainContent">
        <div id="orderInfo">
            <img src="/images/icon/user-active.png">

            <div>
                <div id="circleMark"></div>
                <span>我的菜单</span>

                <div>
                    <font>
                        下单
                    </font>
                </div>
            </div>
        </div>

        <table id="dishList">
            <tr>
                <th> 菜 单 <font>|</font></th>
                <th> 数 量 <font>|</font></th>
                <th> 单价(RMB)</th>
            </tr>

            {% for item in line_items %}

                    <tr foodId={{ item.food.id }}>
                        <td>
                            <div></div>
                            {{ item.food.name }}
                        </td>
                        <td>
                            <img src='/images/icon/plus-black.png'>
                            <amount>{{ item.quantity }}</amount>
                            <img src='/images/icon/minus-black.png'>
                        </td>
                        <td>￥{{ item.unite_price }}</td>
                    </tr>

            {% endfor %}

        </table>
        <hr/>
    </div>

    <table id="sumBar">
        <tr>
            <th>合计：￥
                <sum>{{ cart.total_price }}</sum>
            </th>
            <th>
                <a href="/" >
                    <span class="iconBtn">
				    	<img src="/images/icon/加菜.png"/>
					    加菜
				    </span>
                </a>
                <a href="confirmOrder">
                    <span class="iconBtn">
                        <img src="/images/icon/下单.png"/>
                        下单
                    </span>
                </a>
                <a href="/clearCart">
                <span class="iconBtn">
					<img src="/images/icon/清空.png"/>
					清空
				</span>
                </a>
            </th>
        </tr>
    </table>

    <!--填充用div-->
    <div class="holdPlace"></div>

    <!--底部导航条-->
    <table class="navBar">
        <tr>
            <th><a href="/"><img src="/images/icon/首页.png"></a>

                <p>首 页</p></th>
            <th><a href="/category"><img src="/images/icon/全部菜单.png"></a>

                <p>全部菜单</p></th>
            <th><img src="/images/icon/我的菜-active.png">

                <p>我的菜</p></th>
        </tr>
    </table>





{% endblock %}